.bb-page {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

main {
    flex: 1;
    overflow-y: auto;
}

.sidebar {
    height: auto;
    background-color: #3BAEE5;
    border-bottom: none;
    border-right: none;
}

.top-row {
    background-color: #3BAEE5;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: auto;
    display: flex;
    align-items: center;
}

.top-row ::deep a,
.top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row ::deep a:hover,
.top-row ::deep .btn-link:hover {
    text-decoration: underline;
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a,
    .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row,
    article {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


/*Blazor Bootstrap CSS*/


.bb-top-row {
    background-color: #3BAEE5;
}


/* Custom CSS Menubar */
.navbar {
    left: 0;
    width: 100%;
    height: auto;
    background-color: #3BAEE5;
    z-index: 1;
    padding: 0px;
}

.nav-item {
    position: relative;
    right: 10px;
    margin-right: 3px;
    margin-left: 2px;
}

.custom-button {
    border: 1px solid #b7e7fe;
    border-bottom: none;
    border-radius: 3px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    background-color: transparent;
    color: whitesmoke;
    padding: 1px 12px;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 15px;
    flex: 1;
    font-size: 13px;
    height: 28px;

}


.custom-button:hover,
.custom-button:focus {
    background-color: #b7e7fe;
    color: #3baee5;
    border-color: #b7e7fe;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.navbar-nav ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 259px;
    position: relative;
    bottom: 12px;
}

.nav-item {
    list-style: none;
}


/* Mobile view adjustments */
@media (max-width: 768px) {
    .navbar-nav ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;
        margin-top: 10px;
    }

    .navbar-nav ul {

        margin-left: 0;
        padding: 10px;
    }

    .navbar-toggler {
        margin-top: 10px;
    }


}



/*icons CSS*/

.nav-icon {

    gap: 5px;
    cursor: pointer;
}

.nav-icon-img {
    height: 28px;
    border: 1px solid gray;
}